<div class="card">
  <img src="{{ thumb }}" class="card-img-top" />
  <img src="{{ photo }}" class="rounded-img" />
  <div class="card-body">
    <br />
    <h5 class="card-title text-success">{{ name }}</h5>
    <p class="card-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi
      consequuntur dolor, eaque libero
    </p>
    <button type="button" class="btn btn-outline-success">
      <span>+</span>
    </button>
  </div>
  <div class="card-footer">
    <span><b>Location:</b> {{ local }}</span> <br />
    <span><b>Email:</b> {{ email }}</span> <br />
    <span><b>Phone:</b> {{ tel }}</span> <br />
  </div>
</div>
